/* .items {
    list-style: none;
    margin-right: 30px;
    font-size: 22px;
    font-weight: 500;
    color: rgb(53, 48, 48);
    cursor: pointer;
    padding: 5px;
    text-decoration: none;
  } */
  .header-logo{
    height: 30px;
  }
  .items:hover {
    color: gold;
  }
  .menuBar{
    background-color: white;
  }

@media screen and (max-width:380px){
    .header-logo{
      width: 120px ;
      height: 36px
    }
  }
